.create-post-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .create-post-form input, 
  .create-post-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-post-form input[type="file"] {
    padding: 0;
  }
  
  .create-post-form button {
    align-self: flex-end;
  }
  